@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

section {
    padding: 32px 64px 0 64px;
    width: 100%;
    height: 36vh;
    background: linear-gradient(243deg, #8520CE 0%, #B442F2 96.89%);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.actions {
    display: flex;
    justify-content: end;
}

.actions .settingsBtn {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.content_header {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content_header_texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    color: white;
    animation: slideInLeft 0.5s ease-out;
}

.content_header_texts h1 {
    font-size: 40px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
}

.content_header_texts p {
    font-size: 16px;
}

.content_header_texts h4 {
    font-size: 24px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
}

.circle_monkeyCoin {
    position: absolute;
    right: 64px;
    bottom: -96px; /* Faz ela ultrapassar a section */
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(190deg, #FF6D33 7.41%, #FFB25B 92.8%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_monkeyCoin img{
    animation: coinDrop 1.2s ease-out;
}


.cards_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 48px 64px;
    gap: 24px;

}

.redirect_container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    width: 420px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* animação suave */
}

.redirect_container:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px; /* sombra mais forte e maior */
    transform: translateY(-6px); /* sobe 6px */
}

.redirect_container .box_img{
    width: 56px; height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.box_img.color1 { background-color: #c1abd1; }
.box_img.color2 { background-color: #ffe0bd; }
.box_img.color3 { background-color: #e8ffdf; }
.box_img.color4 { background-color: #FFB8B8; }

.card_content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card_content h3{
    font-size: 24px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #151515;
}

.card_content p{
    font-size: 16px;
    color: dimgray;
}

main{
    padding: 0px 64px 0 64px;
}

.cardMonkeyControl{
    margin-bottom: 48px;
    width: 100%;
    padding: 24px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: linear-gradient(180deg, #9021CC 0%, #A75ECE 100%);
    background-size: 300% 300%;
    animation: rotateGradient 8s linear infinite;
}


.cardMonkeyControl img{
    position: relative;
    left: 0px;
    bottom: -24px; /* Faz ela ultrapassar a section */
    animation: monkeyInLeft 1s ease-in-out;
}

.content_cardMonkeyControl{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content_cardMonkeyControl h1{
    font-size: 32px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: white;
}

.content_cardMonkeyControl p{
    font-size: 16px;
    font-weight: 500;
    color: #d3a2ef;
}
@media (max-width: 768px) {
    section {
        padding: 24px;
        height: 264px; /* Altura menor e mais compacta */
        justify-content: center;
    }

    .content_header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .circle_monkeyCoin {
        position: absolute;
        right: -40px;
        bottom: -40px;
        width: 220px;
        height: 220px;
    }

    .circle_monkeyCoin img {
        width: 148px;
        height: 148px;
    }

    .content_header_texts h1 {
        font-size: 24px;
    }

    .content_header_texts h4 {
        width: 200px;
        font-size: 16px;
    }

    .content_header_texts p {
        font-size: 13px;
    }

    .actions .settingsBtn {
        width: 36px;
        height: 36px;
    }

    .actions .settingsBtn img {
        width: 16px;
        height: 16px;
    }

    .cards_wrapper{
        padding: 24px;
    }

    main{
        padding: 24px;
        margin-bottom: 48px;
    }

    .cardMonkeyControl{
        width: 100%;
        height: 200px;
    }

    .cardMonkeyControl img {
        width: 150px;
        bottom: -33px; /* ajuste fino opcional */
        left: -48px;
    }

    .content_cardMonkeyControl {
        width: 100%;
        align-items: center;
    }

    .content_cardMonkeyControl h1 {
        position: relative;
        left: -184px;
        font-size: 24px;
        text-align: left;
    }

    .content_cardMonkeyControl p {
        display: none;
        font-size: 12px;
        text-align: left;
    }
}


@keyframes coinDrop {
    0% {
        transform: translateY(-100vh) scale(1.3);
        opacity: 0;
    }
    60% {
        transform: translateY(20px) scale(1);
        opacity: 1;
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-125px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes monkeyInLeft {
    0% {
        transform: translateX(-125px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



